
.form {
	padding:0;
	margin:0 0 0 0;
}
	
.form fieldset {
	margin:0;
	border:none;	
}

.form legend {
	margin:25px 0 25px 55px;
	background:transparent;
	
}

.legend {
	margin:15px 0 10px 55px;
	background:transparent;
	
}

.form label {
	float:left;
	width:185px;
	padding:0 1em;
	text-align:right;
	
}

.form input.view, .form textarea.view, .form label.view, .form select.view {
	background-color: transparent;
	border: none;	
	text-align:left;
	disabled:disable;
	resize: none;

}

.form input.edit, .form select.edit {	
	border:1px solid #ddd;	
	disabled:enable;
	background-color:#F9F9F9;
	width:180px;	
	background-attachment:fixed;

}


.form textarea.edit {
	border:1px solid #ddd;	
	disabled:enable;
	background-color:rgb(249,249,249);	
	
}

.large {
	width:450px;
}

.short {
	width:250px;
}


.form label.error, .form label.submit { 	
	display:inline;
	float:right;		
	color: #990000;	 
	vertical-align:top;		
	width:220px;
}


.form input.error {
	border: 2px solid #990000;
	display:inline;
}

.form input.block {	
	display:block;
}


.styletextarea {
	background-color: transparent;
	border: none;
	
}

.styletextarea-scroll {
	background-color: transparent;
	border: 1px solid #000000;
	scrollbar-arrow-color: #000066;
	scrollbar-base-color: #000033;
	scrollbar-dark-shadow-color: #336699;
	scrollbar-track-color: #666633;
	scrollbar-face-color: #cc9933;
	scrollbar-shadow-color: #DDDDDD;
	scrollbar-highlight-color: #CCCCCC;

}

.section {
	margin:0 0 25px 0;
}
	

.form div {
	margin-bottom:.5em;
	padding:0;
	display:block;
}

.form div.inline {
	display:inline;
}

.form div.block {
	display:block;
}

.form fieldset div select {
	padding:1px;
}

.form div.fm-multi div {
	margin:5px 0;
}

.form div.fm-multi input {
	width:1em;
}

.form div.fm-multi label {
	display:block;
	width:200px;
	padding-left:5em;
	text-align:left;
}

f.form fieldset div.fm-req{font-weight:bold;}

.form fieldset div.fm-req label:before{content:"* ";}

.container-form{
	
	width:750px;
	height:270px;
	text-align:left;
	margin-left:10px;
}

.form .innerbutton {
	margin-right:5px;
	position:relative;
	line-height:0;
	float:left;
}

p#fm-intro{margin:0;}

/*
OTHER CLASS
*/

.mt-body-text-higlight {
	width:200px;
}